.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    margin-top: 4rem;
    padding: 3rem 0;
}

.product-grid a {
    text-decoration: none;
    color: #000;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s ease;
    position: relative;
    height: 450px;
}

.product-card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin: 30px 0;
    display: block;
}

.product-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 18px;
    color: #000000;
    margin: 0.5rem 0;
}

.product-card p:last-child {
    font-size: 16px;
    color: #888;
    margin-top: auto;
}

.product-card .favorite-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.favorites-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background: white;
    border-left: 1px solid #ddd;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.favorites-sidebar h3 {
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.favorite-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.favorite-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.favorite-item span {
    font-size: 16px;
    font-weight: 500;
}

.favorites-sidebar p {
    font-size: 16px;
    color: #888;
}

.main-content {
    padding: 20px 0;
}

@media (max-width: 1024px) {
    .content {
        width: 80%;
        padding: 50px;
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .favorites-sidebar {
        width: 100%;
        height: 50vh;
        top: auto;
        bottom: 0;
        border-left: none;
        border-top: 1px solid #ddd;
    }
}