.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 7rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.product-gallery {
  display: flex;
  gap: 1rem;
  flex: 1;
  min-width: 300px;
}

.slider-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnail-list img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
}

.thumbnail-list img.active {
  border-color: #000;
}

.product-info {
  flex: 1;
  min-width: 300px;
}

.price,
.discount {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.extra-info p {
  margin: 0.2rem 0;
}

.product-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-to-cart {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #333;
}

.add-to-wishlist {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s;
}

.add-to-wishlist:hover {
  background-color: black;
  color: white;
}
.size-guide-link {
  margin-left: 10px;
  font-size: 0.9rem;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.size-guide-link:hover {
  color: #666;
}
